body {
    background: #0f172a;
    color: white;
    font-family: 'Outfit', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(30, 41, 59, 0.7);
    padding: 40px;
    border-radius: 20px;
    width: 600px;
    text-align: center;
}

.result {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.placed {
    color: #10b981;
}

.not-placed {
    color: #ef4444;
}

ul {
    text-align: left;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #6366f1;
}